<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>texBlock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{304,334},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>texBtnBlue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{301,100}</string>
                <key>spriteSourceSize</key>
                <string>{301,100}</string>
                <key>textureRect</key>
                <string>{{1,334},{301,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>texBtnItemBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,149}</string>
                <key>spriteSourceSize</key>
                <string>{142,149}</string>
                <key>textureRect</key>
                <string>{{88,610},{142,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>texBtnMoreGame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,105}</string>
                <key>spriteSourceSize</key>
                <string>{105,105}</string>
                <key>textureRect</key>
                <string>{{377,1},{105,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>texBtnNextLv.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{374,116}</string>
                <key>spriteSourceSize</key>
                <string>{374,116}</string>
                <key>textureRect</key>
                <string>{{1,1},{374,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>texBtnRank.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,105}</string>
                <key>spriteSourceSize</key>
                <string>{104,105}</string>
                <key>textureRect</key>
                <string>{{390,436},{104,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>texBtnSettings.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{375,215},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>texBtnShare.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,105}</string>
                <key>spriteSourceSize</key>
                <string>{105,105}</string>
                <key>textureRect</key>
                <string>{{283,436},{105,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>texBtnStartGame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{372,108}</string>
                <key>spriteSourceSize</key>
                <string>{372,108}</string>
                <key>textureRect</key>
                <string>{{1,119},{372,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>texBtnTip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,105}</string>
                <key>spriteSourceSize</key>
                <string>{105,105}</string>
                <key>textureRect</key>
                <string>{{377,108},{105,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>texCarL1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{404,543},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>texCarL2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,84}</string>
                <key>spriteSourceSize</key>
                <string>{180,84}</string>
                <key>textureRect</key>
                <string>{{218,792},{180,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>texCarL3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,85}</string>
                <key>spriteSourceSize</key>
                <string>{280,85}</string>
                <key>textureRect</key>
                <string>{{1,436},{280,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>texCarR1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{404,625},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>texCarR2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,84}</string>
                <key>spriteSourceSize</key>
                <string>{180,84}</string>
                <key>textureRect</key>
                <string>{{318,543},{180,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>texCarR3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,85}</string>
                <key>spriteSourceSize</key>
                <string>{280,85}</string>
                <key>textureRect</key>
                <string>{{1,523},{280,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>texCarU1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{406,321},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>texCarU2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,180}</string>
                <key>spriteSourceSize</key>
                <string>{84,180}</string>
                <key>textureRect</key>
                <string>{{232,610},{84,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>texCarU3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,280}</string>
                <key>spriteSourceSize</key>
                <string>{85,280}</string>
                <key>textureRect</key>
                <string>{{1,610},{85,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>texPopUpBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{88,761},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>texPopUpTitleBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{359,103}</string>
                <key>spriteSourceSize</key>
                <string>{359,103}</string>
                <key>textureRect</key>
                <string>{{1,229},{359,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>texSquare.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{318,725},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>texSquareR20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{384,725},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>texSquareR25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{400,791},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>UIAtlas.png</string>
            <key>size</key>
            <string>{495,891}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:90fe2439b1e58fe23a8a6c9cdf154a45:f0f09a8aa700174a28665f303665e401:7280a3afaef54655d3dd21d500305ef3$</string>
            <key>textureFileName</key>
            <string>UIAtlas.png</string>
        </dict>
    </dict>
</plist>
